html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

h1
 {
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: -4rem;
}

h2 {
  font-family: 'Roboto Slab';
  font-size: 4rem;
  color: #6D6E71;
}

.top-section {
  background-color: #e5f3f2;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: block;
}

.idea-body {
  font-size: 2.5rem;
  margin: 5rem 0 5rem 0;
}

span {
  color: #00a79d;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

input {
  margin: 1rem;
  border: solid 2px #d1d2d4;
  height: 5rem;
  font-size: 3rem;
}

input::placeholder {
  color: #bdbec0;
  padding-left: .5rem;

}

.body-input {
  height: 6rem;
}

.save-button {
  background-color: #00a79d;
  color: #fff;
}

.idea-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#search-box {
  width: 84%;
}

.idea-card {
  width: 100%;
  height: 15rem;
  border-bottom: solid 3px #bdbec0;
  height: 20rem;
  width: 83%;
  margin: 1rem;
}

.delete,
.upvote,
.downvote {
  border: 0px;
  width: 3rem;
}

.vote-buttons {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-left: -.5rem;
}

.top-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body-text {
  font-size: 2rem;
}

.quality-container {
  display: flex;
  flex-direction: row;
  margin: 2.5rem;
  font-size: 2rem;
}

.quality {
  color: #6d6e71;
}

@media screen and (min-width: 400px){
  form {
    width: 80%;
  }

  #search-box {
    width: 77%;
    margin-bottom: 4rem;
  }

  .card {
    width: 76%;
    height: 18rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 800px){
  form {
    width: 60%;
  }

  #search-box {
    width: 58%;
    margin-bottom: 4rem;
  }

  .card {
    width: 58%;
    height: 18rem;
    margin: 1rem;
  }

  h1 {
    font-size: 3.5rem;
  }
  input {
    height: 4rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px){
  form {
    width: 60%;
  }

  #search-box {
    width: 58%;
    margin-bottom: 4rem;
  }

  .card {
    width: 57%;
    height: 18rem;
    margin: 1rem;
  }

  h1 {
    font-size: 4rem;
  }
}
